<div ng-app="MyApp" ng-controller="CreateGroupController as form">
    <form name="form.myForm" ng-submit="saveData(form.myForm)" class="form-validate">
        <div class="panel-body panel">
            <div class="app-view-header headerstyle">Enter Group Details
            </div>
            <hr>

            <div>
                <div class="row form-group">
                    <label class="col-sm-2 control-label"><span class="red">*</span> Group Name</label>

                    <div class="col-sm-3">
                        <input placeholder="Group Name" ng-keyup="groupname_validate($event)" required="" type="text" class="form-control"
                               ng-model="formInfo.GroupName">
                        <span ng-show="groupExist" class="red">Group name already exists.</span>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-2 control-label">Group Description</label>

                    <div class="col-sm-3">
                        <input placeholder="Group Description" required=""
                               type="text" class="form-control" ng-model="formInfo.GroupDesc">
                    </div>
                </div>

                <div class="pull-left row col-sm-offset-2 col-sm-3 col-md-offset-2 col-md-4 col-lg-3 ">
                    <button type="submit" ng-disabled="groupExist" ripple="" class="mr mb-sm btn btn-primary">Save<span class="ripple"></span>
                    </button>
                    <button type="reset" ripple="" class="mr mb-sm btn btn-info">Reset<span
                            class="ripple"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>
