<!--<div class="app-view-header">Dashboard
   <small ng-bind="app.name + ' - ' + app.description" ng-if="currentUser">Welcome, {{ currentUser.user }}</small>
   <div ng-if="currentUser">Welcome, {{ currentUser.user }}</div>
</div>-->

<div ng-controller="DashboardController as dashboard" class="row" id="step1">
    <!--<h1> {{ myData.id }}</h1>-->
    <!-- Modal-->

    <script type="text/ng-template" id="warning-dialog.html">
        <div class="modal-header">
            <h3>Session Expire!</h3>
        </div>
        <div idle-countdown="countdown" class="modal-body">
            <progressbar max="5" value="5" animate="true" class="progress-striped active">Your Session Going to Expire
                in {{countdown}} second(s).
            </progressbar>
        </div>
    </script>

    <div style="background:url(app/img/profile.jpg) center center; background-size:cover;" class="unwrap"  ui-sref="app.profile">
        <div class="container container-lg p-lg">
            <div class="media mt-lg">
                <div class="media-left media-middle">
                    <a  ui-sref="app.profile">
                        <img src="app/img/user/02.jpg" class="media-object thumb96 img-circle" />
                    </a>
                </div>
                <div class="media-body text-white">
                    <h2 class="mv-lg media-heading">{{currentUser.user }}</h2>
                </div>
            </div>
            <div class="text-right text-white pb-lg">
                <p class="m0">
                    <strong>Reg No: 32840</strong>
                </p>
                <p class="m0">
                    <strong>Joined On: 31/08/2015</strong>
                </p>
            </div>
        </div>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <div class="col-lg-9 fw-boxed">
        <!-- START Panel-->
        <div class="row">
            <div class="col-md-6">
                <!-- START Panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <em class="icon-signal fa-lg text-muted pull-right"></em>My Subscription
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-block">
                            <li class="media" ng-repeat="courses in coursedetails">
                                <div class="pull-left">
                                    <!-- Contact avatar-->
                                    <div class="point-pin">
                                        <a href="">
                                            <img src="app/img/user/05.jpg" alt="Image"
                                                 class="media-object img-circle thumb32"/>
                                        </a>
                                        <div class="point point-success point-lg"></div>
                                    </div>
                                </div>
                                <!-- Contact info-->
                                <div class="media-body">
                                    <div class="media-heading">{{courses.Course}}
                                        <br/>
                                        <small class="text-muted">{{courses.Description}}</small>
                                    </div>
                                </div>
                            </li>
                            <!-- END User status-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- START Panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <em class="icon-signal fa-lg text-muted pull-right"></em>My Tests
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4>1. Business Analysis</h4>
                        <div class="text-muted"><a ui-sref="">20 Questions</a> |
                            <em>20 Marks</em> | <em>30 Minutes</em>
                        </div>
                        <div class="text-muted"><button type="button" ripple="" class="mr mb-sm btn btn-warning">Take Test</button> <a ui-sref="">View Analysis</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- START Panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <em class="icon-signal fa-lg text-muted pull-right"></em>My Downloads
                        </div>
                    </div>
                    <div class="panel-body">
                        No Downloads Available
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- START Panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <em class="icon-signal fa-lg text-muted pull-right"></em>My Videos
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-block">
                            <li class="media" ng-repeat="videos in videoList">
                                <div class="pull-left">
                                    <!-- Contact avatar-->
                                    <div class="point-pin">
                                        <a href="">
                                            <img src="app/img/user/05.jpg" alt="Image"
                                                 class="media-object img-circle thumb32"/>
                                        </a>
                                        <div class="point point-success point-lg"></div>
                                    </div>
                                </div>
                                <!-- Contact info-->
                                <div class="media-body">
                                    <div class="media-heading">{{videos.LessonName}}
                                        <br/>
                                        <small class="text-muted">{{videos.Description}}</small>
                                    </div>
                                </div>
                            </li>
                            <!-- END User status-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END dashboard content-->
    <!-- START dashboard sidebar-->
    <aside class="col-lg-3 fw-boxed">

        <div class="row">

            <div class="col-lg-12 col-md-6">
                <div ng-class="'panel-' + app.theme.name" class="panel">
                    <div class="panel-heading">
                        <div ng-class="'bg-' + app.theme.name" class="panel-title">
                            <em class="icon-speech-bubble fa-lg pull-right text-muted"></em>Ask An Expert
                        </div>
                    </div>
                    <div class="panel-body pt0">

                    </div>
                    <div class="panel-footer">
                        <div class="input-group input-group-sm">
                            <textarea placeholder="Type a message" rows="5" class="form-control" ng-model="request"></textarea>
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-info" ng-click="askAnExpert()">
                           <small>Post</small>
                        </button>
                     </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-12 col-md-6">-->
                <!--<div ng-class="'panel-' + app.theme.name" class="panel">-->
                    <!--<div class="panel-heading">-->
                        <!--<div ng-class="'bg-' + app.theme.name" class="panel-title">-->
                            <!--<em class="icon-speech-bubble fa-lg pull-right text-muted"></em>Course completion-->
                            <!--certificate-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-body pt0">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </aside>
</div>
<!-- END dashboard sidebar-->








