<div class="row">
   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
           <center><img src="app/img/icons/height1.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Height </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;padding-left: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/weight.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Weight </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-left: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
          <center> <img src="app/img/icons/injection.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Vaccination </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;" >
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/Doctor1.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Doctor</div>
         </div>
      </div>
   </div>

   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;padding-left: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
         <center> <img src="app/img/icons/running.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Calories </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4"  style="padding-left: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
          <center> <img src="app/img/icons/waist1.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">..... </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
         <center><img src="app/img/icons/Water1.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Water </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-left: 5px;padding-right: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/BODY-FAT.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">FAT </div>
         </div>

      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-left: 5px;" >
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
          <center><img src="app/img/icons/ambulance.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Ambulance </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;" >
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/body1.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Energy </div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-left: 5px;padding-right: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/bone2.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Joints</div>
         </div>

      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-left: 5px;" >
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/bp5.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">BP</div>
         </div>
      </div>
   </div>
   <div class="col-sm-3 col-xs-4" style="padding-right: 5px;">
      <div ripple="" class="panel panel-default">
         <div ng-class="'bg-' + app.theme.name" class="panel-body">
            <center><img src="app/img/icons/nutri.png" style="height: 50px;width: 50px;"></center>
            <div class="text-center text-sm text-white">Nutrition </div>
         </div>
      </div>
   </div>
</div>


