<!--<div class="centerdiv mt-xl">-->
    <!--<img src="app/img/logo-gray1.png" alt="Image" class="centerdiv img-rounded exlscreen lscreen sscreen " />-->
    <!--<img src="app/img/logo1.png" alt="Image" class="sscreen img-rounded" />-->
<!--</div>-->
<div class="container container-sm animated fadeInDown">
    <div class="center-block mt-xl">
        <div class="panel">
            <div class="panel-body">
                <p class="pv text-center">
                    <strong>RESET PASSWORD</strong>
                <form role="form.myform" ng-controller="passwordrecoverController as form">
                    <div class="row">
                        <div class="center-block col-md-8">
                            <div class="form-group has-feedback">
                                <input type="password" placeholder="New Password" autocomplete="off" ng-model="pass.password1"
                                       class="form-control" ng-disabled="disablefields" required/>
                                <input type="password" placeholder="Retype Password" autocomplete="off" ng-model="pass.password2"
                                       ng-disabled="disablefields" class="form-control" required/>
                            </div>
                            <div class="text-muted mb0" ng-show="errorMsg">{{errorMsg}}</div>
                            <div class="text-muted mb0" ng-if="loginpath">Your Password Has Been Changed Click <a ui-sref="page.login">Here</a> For Login</div>
                        </div>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-danger btn-block" ng-click="conform()" ng-disabled="disablefields">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel-->
        <div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>
    </div>
</div>