<div class="row">

    <h4>welcome dinesh</h4>
    <div class="col-sm-12">
        <div class="p">
            <div class="row row-flush text-center">
                <div class="col-xs-6">
                    <p class="mt-lg">Scan Prints</p>
                    <div easypiechart="" options="CandProfile.pieOptions" percent="CandProfile.piePercent1" class="easypie ng-isolate-scope">
                    <span class="ng-binding" style="top: 30% !important;"><em class="icon-head fa-2x mv"></em></span>
                   </div>
                </div>
                <div class="col-xs-6">
                    <p class="mt-lg">Scan Here</p>
                    <div class="col-lg-6 col-sm-3 col-xs-6">
                        <div ripple="" class="panel panel-default">
                            <div class="panel-body">
                                <h1 class="text-thin mt">thumb image</h1>

                            </div>
                            <span class="ripple"></span></div>
                    </div>
                    <button type="submit" ripple="" class="mr mb-sm btn btn-primary">Scan</button>
                    <button type="reset" ripple="" class="mr mb-sm btn btn-info">Verify</button>

                </div>
            </div>
        </div>
    </div>
</div>